html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#p5-canvas-container canvas {
  padding: 0;
  margin: 0;
  width: 100vw !important;
}

#ui-section > div, #messages-section > div {
  margin: 1em;
}

label {
  margin-right: 1em;
}

button {
  padding-inline: 1em;
  padding-block: 0.35em;
  margin: 0.75em;
}

details {
  border: 2px solid grey;
  border-radius: 3px;
}

details > * {
  margin-inline-start: 2ch;
}

summary {
  font-family: Helvetica, Arial, sans-serif;
  font-size-adjust: larger;
  font-weight: bold;
  font-variant: small-caps;
}

th, tf {
  border: 1px solid black;
}